body {
    padding-top: 5rem;
}
#grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style-type: none;
}
.images {
    height: 300px;
    width: 300px;
}
ul {
    list-style-type: none;
}